{% extends 'feedback/base.html' %}

{% block title %}Edit Trainer{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Edit Trainer: {{ trainer.name }}</h4>
                </div>
                <div class="card-body">
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success mt-3">Update Trainer</button>
                        <a href="{% url 'feedback:trainer_list' %}" class="btn btn-secondary mt-3">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 
